div{
  width: 71px;
  height: 71px;
  display: inline-block;
}

#container1 {
  background-color: black;
  border: 1px solid black;
}

#container2 {
  background-color: red;
  border: 1px solid black;
}

#container3 {
  background-color: green;
  border: 1px solid black;
}

#container4 {
  background-color: yellow;
  border: 1px solid black;
}

#pixel-board {
  border: ;
  width: 305px;
  height: 305px;
  display: flex;
  flex-wrap: wrap;    
}

.pixel {
  border: solid black;
  width: 18%; 
  background-color: white;          
}



